/* Example commit */
html, body {
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}





.header {
    width: 100%;
    height: 20px;
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    font-size: 35px;
    background-color: ;
    

}

h1 {
    margin: 0 20px 0 20px;

}

 .header .trans { 
    -webkit-transition: 
        background 1s,
        padding 1s,
        margin 1s,
        content 1s,
        font-size 1s,
        border-radius 1s;
    transition: 
        background 1s, 
        padding 1s, 
        margin 1s, 
        content 1s, 
        background-color 1s, 
        font-size 1s, 
        border-radius 1s;

}

.headernav ul { 

    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
    
#dot {
    margin: 10px; 
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: 3px solid;
    border-color: black;
    border-radius: 40px;
    font-weight: 800;
    display: inline-block;
}    

#dot:hover {
    background-color: black;
    border-radius: 100%;
    font-size: 0px;
    /* Change size of the dot when hovered */
    padding: 7px;
    margin: 30px;
    
}

#dot p:hover {
    padding: 0px;
}
    

.nav {
    text-align: justify;

}

.nav li {     
    text-align: center;
    
    
    padding-left: 40px;

    padding-right: 40px;
   
    display: inline-block;
    
}

.nav li a img {
    height: 70px;
   
}

.nav li a img:hover {
    fill: orange;
   
}

.header p {
    padding: 0px;
    margin: 0px;
}

.nav li p {
    font-size: 16px;
    font-weight: 700;
    padding: 0px;
    margin: 0 auto;
}

.nav li a {
    text-align: center;
    
    font-weight: 700;
    
    text-decoration: none;
    display:inline-block;
    padding: 10px 20px 10px 20px;
    
}




.about {background-color: yellow;
    
    text-align: center;
    margin: 0px;
    padding: 0px;
}

 .button {
    --offset: 5px;
    --border-size: 2px;
    display: inline;
    position: relative;
    padding: 1.5em 3em;
    background: transparent;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
}
.button:hover {
    background: rgba(100, 0, 0, 0.03);
}
.button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
}
.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}


.button:hover .button__horizontal {
    
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}
.aboutfooter
{
    
    bottom:0;
    background-color: cornsilk;
    position: fixed;
    width: 100%;
    height: 20px;
    padding: 20px;
    font-family: fantasy;
    font-size: 20px;
    
    
}
.aboutbody{
    display:inline;
}
.headernav {
    display: block;
    border-radius: 0px 0px 100px 100px;
    width: 100%;
    background-color: lightgrey;

   
    
}

.left-container {
    border: 3px outset;
    border-radius: 5%;
    padding: 2%;
    margin: 1%;
    float: left;
    width: 20%;
}

.middle-container {
    border: 3px outset;
    border-radius: 5%;
    padding: 2%;
    margin: 1%;
    float: left;
    width: 40%;
}

.middle-container li {

}

.right-container {
    border: 3px outset;
    border-radius: 5%;
    padding: 2%;
    margin: 1%;
    float: left;
    width: 20%;
}
.headertestimonials{
    margin-top: 50px;
    text-align: justify;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .plumberpic{
      height: 300px;
      width: 200px;
        float: bottom;   
  }
  a:active {
    color: yellow;
  }
  .levelpic {
      height: 500px;
      width: 800px;
   
  }
